@charset "gbk";
/* CSS Document */
*{margin:0; padding:0; list-style:none}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, label, input, textarea, p, blockquote, th, td, b{margin:0; padding:0}
table{border-collapse:collapse; border-spacing:0}
address, caption, cite, code, dfn, em, strong, th, var, i, b{font-style:normal; font-weight:normal}
ol, ul{list-style:none}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-weight:normal}
blockquote, q{quotes:none} 
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none}
:link, :visited{text-decoration:none}
abbr, acronym{border:0; font-variant:normal}
sup{font-size:100%; vertical-align:text-top}
sub{font-size:100%; vertical-align:text-bottom}
input, textarea, img{border:0 none; resize:none; font-family:微?雅黑}
input,button,select,textarea{outline:none}
input[type=button], input[type=submit]{cursor:pointer; -webkit-appearance:none; border-radius:0}
input{-webkit-transition:box-shadow 0.30s ease-in-out; -moz-transition:box-shadow 0.30s ease-in-out;}
input[type=input]:focus, textarea:focus{outline:none; box-shadow:0 0 8px rgba(103, 166, 217, 1);}
input::-webkit-input-placeholder{line-height:38px;}
input::-moz-placeholder{line-height:38px;}
/* global style */
body{font-size:100%; line-height:100%; font-family:"微?雅黑"; color:#111111; background-color:#eeeeee;}
a{color:#000000; text-decoration:none; outline:none}
a:link, a:activied{color:#000000}
/**,*:after,*:before{ -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing: border-box;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-touch-callout: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;-ms-touch-action: none;-moz-user-select: -moz-none}*/
/*clearfix*/
.clearfix:after, .tab-menu:after, .blist li>a:after, .btm_nav:after, .blink:after, .blist .head:after, .blist .row:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix, .tab-menu, .blist li a, .btm_nav, .blink, .blist .head , .blist .row{zoom:1}
/* layout */
.wrap{width:100%; min-width:320px; min-height:320px; -moz-transition:background 0.3s ease-in, color 0.5s ease-out; -webkit-transition:background 0.3s ease-in, color 0.5s ease-out; -o-transition:background 0.3s ease-in, color 0.5s ease-out; transition:background 0.3s ease-in, color 0.5s ease-out;}
.fl{float:left}
.fr{float:right}
.mt5{margin-top:5px;margin-bottom: 5px;margin-right: 5px;}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.mr5{margin-right:5px}
.mr8{margin-right:8px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr15{margin-right:15px}
.pt10{padding-top:10px}
.pt20{padding-top:20px}
.pl10{padding-left:10px}
.bk, a.bk{color:#000000}
.gy, a.gy{color:#888888}
.ye, a.ye, .more, a.more{color:#eb6100}
.bggy{background-color:#666666}
.bgye{background-color:#eb6100}
.bgGray{background-color:#eeeeee}
.bgDark{background-color:#333333}
.bgYel{background-color:#e98110}
.bgwt{background-color:#ffffff}
/* icons */
.icons{display:block; background-image:url(../css/icon_ks.png); background-repeat:no-repeat; }
.icons.ib{display:inline-block; vertical-align:middle; position:relative;  text-align:center}
.icon-font{background-position:0 -202px}
.icon-night{background-position:-26px -308px}
.icon-scrol{background-position:-30px -339px}
.icon-medal{background-position:-30px -392px;}
.icon-gotop{width:30px;height:33px; background-position:-90px -445px}




/* subpage header */
.header{margin-bottom:10px; width:100%; height:50px; position:relative; background-color:#e98110}
.header h1{text-align:center; font-size:1.25em; line-height:50px; color:#ffffff}
.header a{color:#ffffff;}
.nav_left, .nav_right{ width:60px; line-height:40px; background-color:rgba(0, 0, 0, 0); text-align:center; position:absolute; top:5px; overflow:hidden; }
.nav_left{left:5px}
.nav_right{right:5px}

/* chapter */
.chapter{padding:10px 15px 15px; line-height:32px; font-size:1.25em;  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.chapter h3{text-align:center; font-size:1.125em}
.chapter-inner{}
.chaplink{padding: 10px 10px 5px 10px;height: 36px;line-height: 36px;}
.chaplink a{display: block; float: left; height: 100%; color: #ffffff; text-align:center}
.chaplink .prevchap{width: 22%; margin-right: 3%;}
.chaplink .nextchap{width: 50%;}
.chaplink .prevchap2{width: 22%; margin-right: 3%;}
.chaplink .nextchap2{width:65%;}
.chapter .chapname{ line-height:24px; position: relative; color: #888888}
.chapter .chapname span{font-size:14px;}
.chapter .chapname .binfo{top:0;}

/* footer */
.footer{margin:0; padding:15px 0; position:relative;}
.footer .icons{position:absolute; right:10%; bottom:10px; cursor:pointer}
.footer.home-bg .icon-gotop{background-position:-124px -445px}
.footer p, .footer a{font-size:1em;}
.footer_nav{padding:0 10px; text-align:center}
.footer_nav a{display:inline-block; padding:0 5px;}
.footer b{color:#eb6100}
.footer .edition{text-align:center}
.footer .edition span, .edition a{display:inline-block;}
.footer .edition a{margin:0 20px;}
.footer .edition a.select{color:#eb6100;}
.footer .copyright{text-align:center}
.footer.home-bg{background-color:#333333;}
.footer.home-bg p, .footer.home-bg a{color:#cccccc;}
/* read tools */
.t-wrap span, .t-wrap span:after, .t-wrap span:before, .t-scrol span, .t-scrol span:after, .t-scrol span:before{ -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing: border-box;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-touch-callout: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;-ms-touch-action: none;-moz-user-select: -moz-none}
.t-cover, .t-scroll-lock, .pop_cover, .t-pop-tip{width:100%; height:100%; position: fixed; left: 0; top: 0; display:none; z-index: 10; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing: border-box;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-touch-callout: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;-ms-touch-action: none;-moz-user-select: -moz-none}
.t-pop-tip{display: none; width:100%; height:70%; background-color:#222222; top:15%; opacity:.8}
.t-pop-inner{display:table; width:100%; height:100%;}
.t-pop-cont{vertical-align:middle; display:table-cell; margin-top:50%; color:#ffffff; position:relative; z-index:20}
.t-pop-cont p{text-align:center; line-height:2em; font-size:1.5em; color:#ffffff}
.t-scroll-lock{}
.t-wrap, .t-page, .t-nav, .t-scrol{display:none; width:100%; position:fixed; z-index: 99; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;}
.t-wrap, .t-page, .t-nav{background-color:rgba(0,0,0,0); color:#ffffff;}
.t-wrap p{margin:0 20px; padding:12px 0 0 0;}
.t-wrap span, .t-scrol span{display:inline-block; border-radius: 5px; height: 30px; line-height: 30px; vertical-align: middle; cursor: pointer}
.t-wrap a, .t-page a, .t-nav a{color:#ffffff;}
.t-wrap .t_b{display:inline-block; border-radius: 5px; background-color:#333333}
.t-wrap .t_c{position:relative; line-height: 30px;}
.t-wrap .t_c .t-l, .t-wrap .t_c .t-r{position:absolute; top: 12px;}
.t-wrap .t_c .t-l{left: 0;}
.t-wrap .t_c .t-r{right: 0;}
.t-nav{height:50px; top:0; left: 0; }
.t-nav h1{font-size:1em; text-align:center; line-height:50px;}
.t-nav a{display: inline-block; padding: 0 10px;}
.t-nav .nav_left, .t-nav .nav_right{background-color:rgba(0,0,0,0)}
.t-font, .t-tips, .t-lack{height:100px; bottom:-100px; left:0}
.t-menu{height:100px; bottom:0; left:0}
.t-menu a, .t-menu span{display: block; float: left; text-align:center; height: 50px; line-height: 50px}
.t-menu.t4 a, .t-menu.t4 span{width:25%; cursor: pointer}
.t-menu .icons{display: inline-block; width:24px; height: 24px; vertical-align: middle}
.t-menu .icon-font{font-weight:bold; font-size:1.125em}
.t-menu .active{color:#888; opacity:.3}
.t-page{width:auto; padding:0 10px; height:60px; top:35%;}
.t-page a{display:block; line-height: 60px; text-align: center;}
.t-prev{left: 0; border-radius:0 5px  5px 0  }
.t-next{right:0; border-radius:5px 0 0 5px  }
.t-off{padding-bottom:10px; bottom:-150px;}
.t-off .t_c{position:relative;}
.t-off .t-o-s{displ#333333}
.t-font .t-f-s span, .t-money .t-m-s span, .t-cmt .t-c-b span, .t-flower .t-f-s span{width:40%; background-color:#333333}
.t-font .t-f-b span{width:20%;}
.t-c-1{background-color:#f1f1f1; color:#21201c;}
.t-c-2{background-color:#f2e7cc; color:#643525;}
.t-c-3{background-color:#cce8cf; color:#555d54;}
.t-c-4{background-color:#bbe9f0; color:#283232;}
.t-scrol{height: 70px; bottom: -100px;}
.t-scrol span{width:50px; height:50px; line-height:50px; background-color:#414554; color:#ffffff; opacity:.5;}
.t-sc-s, .t-sc-n{text-align: center}
.t-sc-n{width:100%; position:fixed; top:40%; left:0; opacity:.8}
.t-sc-n .t-s-n{display:inline-block; width:60px; height:60px; line-height:60px; font-size:1.75em;}
.t-sc-s .t-s-d{position:absolute; left:15%; font-size:1.75em; opacity:.5; font-weight:bold;}
.t-sc-s .t-s-i{position:absolute; right:15%; font-size:1.75em; opacity:.5; font-weight:bold;}
.t-sc-s .t-s-s{position:absolute; right:10%;}
.t-m-s b{display:inline-block; padding: 0 5%}
.t-money, .t-flower{height: 150px; bottom: -150px}
.t-money .t-m-s span{width:35%}
.t-lack{}
.t-lack .t_b{width: auto; background-color: #e98110; color:#ffffff; }
.t-lack a{display: block; padding:0 20px}
.t-flack{height:120px; bottom:-120px;}
.t-flack p{padding-top:8px}
.t-cmt{height:180px; bottom: -180px}
.t-cmt p{margin:0 30px; padding:8px 0 0 0}
.t-cmt .t_b{border:1px solid #6f7281; height:70px; text-align:left; line-height:22px; font-size:.875em; color:#eeeeee; cursor:text;}
.t-tips{}
.t-tips a{color:#e98110}
/* read mode */
.night-mode, .night-mode .wrap{background-color:#000000}
.night-mode .chapter, .night-mode .chapter p{color:#555555}
.night-mode .chapter a:hover{color:#eb6100}
.night-mode .footer a{color:#888888;}
.font-smaller .chapter{font-size:1em; line-height:30px;}
.font-small .chapter{font-size:1.125em; line-height:32px;}
.font-big .chapter{font-size:1.375em; line-height:36px;}
.font-bigger .chapter{font-size:1.5em; line-height:36px;}
.font-color-1{background-color:#f2e7cc}
.font-color-1 .chapter{color:#643525}
.font-color-2{background-color:#cce8cf}
.font-color-2 .chapter{color:#555d54}
.font-color-3{background-color:#bbe9f0}
.font-color-3 .chapter{color:#283232}
/*pop_tip*/
.pop_cover{background-color:#000; opacity:.5;}
.pop_tip{width:100%; position:fixed; top:40%; display: none; z-index: 100}
.pop_inner{margin:0 10%; padding:15px 0; background-color:#ffffff; overflow: hidden; position:relative; box-shadow:2px 2px 3px #000; border-radius:5px;}
.pop_cont{width:100%; line-height:32px; color:#eb6100; text-align: center;}



#fx {
    display: block;
    max-width: 100%;
    height: auto;
}

#join {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://mozilla.com.tw/media/img/mocotw/community/joinus-banner.png);
    background-position: 50% 50%;
    background-size: 100% auto;
    width: 100%;
    height: 100px;
}

#content {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    height: auto;
    border: 1px dotted gray;
}

#tip {
    display: inline-block;
    vertical-align: top;    
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
